// Big Slider on home page


.slider-content{
	// @include myoutline(red);
    position: absolute;
    bottom: 0;
    left: 0;
	color: #fff;
	width: 100%;
	max-width: 1200px;
	overflow: hidden;
	padding: 0 15px;
	text-align: center;
	background-color: rgba(#FFF, 0.5);

	@include breakpoint($screen-xs-min){
		background-color: transparent;
		text-shadow: 0px 1px 4px rgba(#fff, 0.5);    
		top: 15px;
		right: 0;
		text-align: right;
	}

	@include breakpoint($screen-sm-min){
		top: 15px;
		right: 0;
		text-align: right;
	}

	@include breakpoint($screen-md-min){
		top: 24px;
		right: 12px;
		text-align: right;
	}


	// h2 fontsizes
	$slider-h2: (
		default : 20px,
		small   : 28px,
		medium  : 34px,
		large   : 36px
	);
	
	$slider-h2-small: (
		default : 20px,
		small   : 21px,
		medium  : 25px,
		large   : 27px
	);

	h2{
		@include font-size($slider-h2);
		margin: 12px 0 24px;
		font-family: $font-family-sans-serif;
		color: $gray-darker;
		font-weight: 500;
		line-height: 1.2;		
		small{
			@include font-size($slider-h2-small);
			margin: 12px 0 24px;
			font-family: $font-family-sans-serif;	
			color: $gray-darker;		
		}

		span{color: $brand-danger;}
	}
} 
 

.slidewrap{
	position: relative;
	overflow: hidden;
}


// Home Page slider
.main-slider{
	// @include myoutline(red);

	.slick-slide{
		position: relative;
		height: 300px;

		// smaller screen
		@include breakpoint($screen-xs-min){
			height: 350px;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			height: 400px;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			height: 465px;
		}

		img{
			@include xy-center();
			width: auto;
			overflow: hidden;
			min-height: 100%;
			 @include breakpoint(1200px){
			 	width: 100%;
			 	min-height: initial;
			 }

		}

	}
}
