@import "layouts/header";
@import "layouts/footer";
@import "layouts/navigation";
@import "layouts/gallery";


.site-content{
	@include clearfix();
	@include container();
	// @include myoutline(blue);
	margin-bottom: gutter();
	margin-top: gutter();
}

	// blog pages to include widget area
	.group-blog, .content-area{
		// @include myoutline(green);
		@include span(12) ;
		// overflow: hidden;
		padding: 0 15px;
		
		// small screen
		@include breakpoint($screen-xs-min){
			@include span(12) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(7) ;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(8) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(8) ;
		}
	}

	.widget-area{
		// @include myoutline(green);
		@include span(12) ;
		// padding-left: 15px;
		// padding-right: 15px;

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(12) ;
			// padding-left: 0;
			// padding-right: 0;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(5) ;
			// padding-left: 0;
			// padding-right: 0;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(4) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(4) ;
		}
	}

	// regular page full width
	// .content-area, .lgbreadcrumb{
	// 	@include span(12) ;
	// 	// @include myoutline(green);
	// }


// Grid Stuff
.container-fluid{
	@include container(100%);
}

.container{
	@include container();
}


// Home page layout
.home .content-area{
	// @include myoutline(green);
	@include span(12) ;	
}


.page-template-tpl-fullwidth .content-area{
	@include span(12) ;	
}

// Woocommerce
.woocommerce-area{
	@include container();

	.site-main{
		padding: 0 30px;
	}
}


.cta-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 650px;
	margin: 0 -15px;

	// small screen
	@include breakpoint($screen-sm-min){
	    flex-direction: column;
	}



    .cta-grid-item{
    	flex: 0 1 50%;
		.img-cont{
			height: 100%-6%;
			width: 100%-6%;
		}
    }

    .cta-grid-item-rspan{
    	flex: 0 0 100%;
    	order: 1;
		
		.img-cont{
			height: 100%-3%;
			width: 100%-3%;
		}

    }

}