@import "modules/nav-list";
@import "modules/widgets";
@import "modules/search-form";


.custom-logo-link{
	padding: $padding-base-vertical $padding-base-vertical $padding-base-vertical $padding-base-vertical;
	display: block;
	
	.custom-logo{
		@include img-responsive();
	}

}  


// Inline List
.myinline-list{
	padding-top: gutter();
	@include xy-center();
	width: 100%;
	a{
		color: $gray-darker;
	}

}

// Add Seperator for nav menus
#menu-utility{
	
	.menu-item:after{ 
		content: '/';
		padding-left: 12px;
		color: $brand-danger;
	}

	.menu-item:last-child:after{ 
		color: transparent;
	}

}


// Nav Stuff
#menu-main{

	.menu-item{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 20px;
		border-left: solid 1px $gray-dark;
		border-right: solid 1px $gray-dark;
	}
}

.navbar {
	border-width: 0;
}