.bg-darker{
	background-color: $gray-darker;
}

.bg-dark{
	background-color: $gray-dark;
}

.h2-custom{
	text-transform: uppercase;
    position: relative;
    z-index: 1;
	&:before{
		border-bottom: 1px solid $gray-darker;
		box-shadow: 0 3px 0 0 $gray-dark;
		content: "";
		margin: 0 auto; /* this centers the line to the full width specified */
		position: absolute;
		top: 50%; 
		left: 0; 
		width: 100%;
		z-index: -1;
	}

	// Background to hide the line
	span{
		background: #fff; 
		padding: 0 12px 0 0; 
	}
}

.cta-grid{
	
	.well{
		height: 100%;
		position: relative;
		background-color: transparent;
		box-shadow: none;
		border-color: transparent;
		display: block;

		.img-cont{
			border: solid 1px $gray-darker;
			position: absolute;
			@include xy-center();
			overflow: hidden;
			
			&:hover, &:focus{
				opacity: 0.8;
			}
		}

		.well-body{
			// position: relative;
			overflow: hidden;
		}

		button{

			$cta-fz-home: (
				default : 16px,
				small   : 26px,
				medium  : 27px,
				large   : 27px
			);

			background-color: rgba(#FFF, 0.9);
			border: none;
			padding: 12px 42px;
			position: absolute;
			bottom: 16px;
			left: 0;
			width: 100%;
			text-transform: uppercase;
			font-family: $headings-font-family;
			color: $gray-darker;
			text-shadow: 1px 1px 0 $brand-danger;
			@include font-size($cta-fz-home);

			@include breakpoint($screen-xs-min){
				width: auto;
				bottom: 26px;
			}
		}
	}


.well-a, .well-c{
		img{
		@include xy-center();
		overflow: hidden;
		width: auto;
		max-height: 100%;

		@include breakpoint($screen-sm-min){
			width: 100%;
			max-height: initial;
		}

	}
}

.well-b{
		img{
		@include xy-center();
		overflow: hidden;
		max-width: 100%;
		min-height: 100%;

		@include breakpoint($screen-sm-min){
			max-width: initial;
			min-height: initial;
		width: auto;
		max-height: 100%;
		}

	}
}




	.well-c{
		button{
			left: initial;
			right: 0;
		}
	}

	.well-b{
		button{
			left: initial;
			bottom: initial;
			right: 0;
			top: 16px;
		}
	}




}

// #main-navbar .dropdown-menu {
// border-color: transparent;
// }

#main-navbar .dropdown-menu > li > a {
	padding: 12px 31px;
	font-weight: 600;
}

#main-navbar .dropdown-menu > li.sub-cat{
	 border-top-color: transparent !important; 

	 > a {
		padding: 12px 31px;
		font-weight: 100;
	    font-size: 16px;
	    margin-top: -20px;
	}
}

#main-navbar .dropdown-menu > li.menu-item {
	border-top: solid 1px $dropdown-border;
	text-align: center;

	&:first-child{
		border-top-color: transparent;
	}
}
