// Shame


// Image
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	// @include myoutline(green);
	@include span(12);
	
	// small screen
	@include breakpoint($screen-sm-min){
		@include span(5) ;
	}

	// medium screen
	@include breakpoint($screen-md-min){
		@include span(4) ;
	}

}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
	@include span(4);
	margin-bottom: gutter();
}


.woocommerce ul.products li.product,.woocommerce-page ul.products li.product {
	text-align: center;
	padding: 12px;
}








// summary
.woocommerce #content div.product div.summary,.woocommerce div.product div.summary,.woocommerce-page #content div.product div.summary,.woocommerce-page div.product div.summary {
	// @include myoutline(green);
	@include span(12);

	// small screen
	@include breakpoint($screen-sm-min){
		@include span(7) ;
	}

	// medium screen
	@include breakpoint($screen-md-min){
		@include span(8) ;
	}
}

// Description
.woocommerce #content div.product .woocommerce-tabs,.woocommerce div.product .woocommerce-tabs,.woocommerce-page #content div.product .woocommerce-tabs,.woocommerce-page div.product .woocommerce-tabs {
	// @include myoutline(green);
	@include span(12);
	clear: none;

	// small screen
	@include breakpoint($screen-sm-min){
		@include span(7) ;
	}

	// medium screen
	@include breakpoint($screen-md-min){
		@include span(8) ;
	}
}


.woocommerce-area, .woocommerce{
	
	// Large Product
	div.product {
		// @include myoutline(red);
		overflow: hidden;

		
		.woocommerce-tabs{
			// @include myoutline(green);
		}

		.wc-tabs{
			display: none;
		}

	}

	// Archive Product Grid
	.products .product {
		border: solid 1px $gray;
		a.woocommerce-loop-product__link{ color: #000; }
		h2.woocommerce-loop-product__title{
			font-weight: 400;
			font-family: $font-family-sans-serif;
		}
	}

	// 
	.panel{
		border-color: transparent;
		box-shadow: none;
	}


	.woocommerce-product-gallery__wrapper{
		// @include myoutline(red);

		// Large Image
		div:first-child{
			margin-bottom: gutter();
			border: solid 1px $gray-lighter;
			// padding: gutter();
			margin-left: gutter();
			margin-right: gutter();
		}

		// div:not(:first-child){
		// 	height: 100px;
		// 	border: solid 1px $gray-lighter;
		// 	position: relative;

		// 	a{
		// 		display: block;
		// 		@include xy-center();
		// 		width: 100%;
		// 		img{ @include img-responsive();	}
		// 	}
		// }

	}

}


// Buttons
.woocommerce a.button{
	background-color: $brand-danger;
	color: #fff;
	font-weight: 400;
}


// Product Description
.woocommerce-Tabs-panel--description{
	
	h2{
		color: $brand-danger;
		font-size: 18px;
		margin: 4px 0;
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
	}

	table{
		@extend .table;
		@extend .table-bordered;
		text-align: center;
		font-weight: 500;
		// margin-top: 12px;

		tr:first-child{
			@extend .active;
		}
	}

	ul{
		margin-bottom: 20px;
	}

}


.related{

	$relatedh2: (
	  default : 20px,
	  small   : 30px,
	  medium  : 30px,
	  large   : 30px
	);

	position: relative;
	clear: both;
	border-top: 4px double $gray-dark;
	padding-top: 24px;

	& > h2{
		@include font-size($relatedh2);
		text-transform: uppercase; 
		position: relative;
		display: inline-block;
		background-color: #FFF;
		position: absolute;
		top: -40px;
		left: -1px;
		padding-right: 12px;
	}

}