.site-footer{
	@include clearfix();
	padding-top: 12px;
	color: #fff;

	a{
		color: darken(#fff, 20%);
		&:hover{
			color: darken(#fff, 10%);
			text-decoration: none;
		}
	}

}

.site-footer-content{
	@include clearfix();
	@include container();
	padding: 0 15px;


	.nav-footer{
		display: none;

		// small screen
		@include breakpoint($screen-xs-min){
			display: block;
			@include span(6) ;
		}
		
		// small screen
		@include breakpoint($screen-sm-min){
			display: block;
			@include span(4) ;
		}
	}


	.footer-logo{
		display: none;
		
		// small screen
		@include breakpoint($screen-sm-min){
			display: block;
			@include span(4);
		}

		a{
			position: relative;
			min-height: 200px;
			img{
				@include xy-center();
			}
		}
	}

	.footer-contact{
		@include span(12);

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(6) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			display: block;
			@include span(4) ;
		}
	}

}


.site-info{
	@include container();
	// margin-bottom: 100px;
	padding: 15px;

	.lg-graphics{
		@include span(12) ;
		margin-bottom: gutter();

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(6) ;
		}
	}

	.site-legal{
		@include span(12) ;
		text-align: right;
		margin-bottom: gutter();
		
		// small screen
		@include breakpoint($screen-xs-min){
			@include span(6) ;
		}

	}
}
