.site-header{
	padding-top: 12px;
	@include container();
} 

.site-branding{
	// @include myoutline(blue);
	text-align: center;
	overflow: hidden;
	
	.sitecontact{
		// @include myoutline(red);
		@include span(12);
		position: relative;
		min-height: 40px;

		// small screen
		@include breakpoint($screen-xs-min){
			min-height: 96px;
			@include span(7) ;
		}

		// medium screen
		@include breakpoint($screen-sm-min){
			min-height: 118px;
			@include span(4) ;
			@include pull(8);
		}
	}

	#sitelogo{
		// @include myoutline(red);
		overflow: hidden;
		z-index: 1;
		position: relative;

		@include span(12);

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(5) ;
		}

		// medium screen
		@include breakpoint($screen-sm-min){
			@include span(4) ;
			@include push(4);
		}

	}

	.sitetitle{
		// @include myoutline(red);
		@include span(12);
		display: none;
		margin-top: 9px;
	}

	.nav-utility{
		// @include myoutline(red);
		// @include span(12);
		display: none;
		position: relative;
		min-height: 40px;
		
		// small screen
		@include breakpoint($screen-xs-min){
			min-height: 96px;
		}

		// medium screen
		@include breakpoint($screen-sm-min){
			min-height: 118px;
			display: block;
			@include span(4) ;
		}
	}
	
}
