.nav-footer{
	// @include myoutline(red);

	.nav-stacked{
		padding: 0 0 2px 12px;
		list-style-position: inside;
		margin-bottom: 0;
		@include fa-list-icon(f111, -1.4, red );

		li:before{
			font-size: 0.5em;
			top: 1em;
		}
	}

	.menu-utility-container{
		margin-bottom: 12px;
	}

}